<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Vue</title>
</head>

<body class="init-color">

<div class="flash-box" n:snippet="flash">
	<div n:foreach="$flashes as $flash" n:class="alert, $flash->type == 'success' ? alert-success : alert-danger">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{_$flash->message}
	</div>
</div>

{include content}

{control modal}

<div id="footer">
	Hello footer!
</div>

{block scripts}
	{*<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>*}
{/block}

<img id="loader" src="{$basePath}/assets/imgs/loader.gif">
</body>
</html>
